#root {
  /* margin: 0;
  padding: 4rem; */
  text-align: center;
  background-color: rgb(237, 233, 254);
  background-image: radial-gradient(at 19% 34%, rgb(224, 242, 254) 0, transparent 54%), radial-gradient(at 79% 83%, rgb(255, 228, 230) 0, transparent 68%), radial-gradient(at 55% 32%, rgb(243, 232, 255) 0, transparent 67%);
  color: #444444;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #f1e9f6;
  border-radius: 0.5rem;
}

body {
  background-color: black;
}

h3 {
  font-size: x-large;
  font-weight: 400;
  text-align: start;
}

h4 {
  font-size: large;
  font-weight: 300;
}

p {
  color: black;
}

/* span {
  color: #e3d7e6;
} */

ul {
  list-style-type: disc;
}

/* li {
  color: #e3d7e6;
} */

li::marker {
  color: #16e02a;
}

.submit-btn {
  background-color: #c7c9e0;
  color: black;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #cbe0f4;
  color: black;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #24263a;
}

.menu-btn:hover {
  color: #cbe0f4;
}

.menu-text {
  font-size: large;
  font-weight: 400;
}

#restaurant-input {
  background-color: white;
  color: black;
}

#buyer-input {
  background-color: white;
  color: black;
}

#cur-user-msg {
  background-color: #9bc4e0;
}

#other-user-msg {
  background-color: #e5e1eb;
}

#msg-input {
  background-color: #fcfcfc;
  color: black;
}

/* #cbe0f4,#9bc4e0,#e5e1eb,#e3d7e6,#c7c9e0 */