#root {
  margin: 0;
  padding: 4rem;
  text-align: center;
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #24263a;
}

::-webkit-scrollbar-thumb {
  background: #c7c9e0;
  border-radius: 0.5rem;
}

body {
  background-color: black;
}

h2 {
  font-size: x-large;
  font-weight: bold;
  text-align: start;
}

p {
  text-align: start;
}

ul {
  list-style-type: disc;
}

li {
  color: #e3d7e6;
}

li::marker {
  color: #16e02a;
}

button {
  background-color: #c7c9e0;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: #cbe0f4;
  color: black;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #24263a;
}

#chosen-restaurant {
  color: #e3d7e6;
}

#chosen-buyer {
  color: #e3d7e6;
}

#restaurant-input {
  background-color: #fcfcfc;
  color: black;
}

#buyer-input {
  background-color: #fcfcfc;
  color: black;
}

#cur-user-msg {
  background-color: #9bc4e0;
}

#other-user-msg {
  background-color: #e5e1eb;
  justify-self: end;
}

#msg-input {
  background-color: #fcfcfc;
  color: black;
}

#history {
  color: #e3d7e6;
}

/* #cbe0f4,#9bc4e0,#e5e1eb,#e3d7e6,#c7c9e0 */